* {
    font-family: "Space Mono", FontAwesome, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: rgba(248, 249, 250, 1);
    margin: 5px;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: none;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: inherit;
    box-shadow: none;
}

#workspaces button {
    padding: 0;
    min-width: 18px;
    min-height: 14px;
    background-color: transparent;
    color: rgba(173, 181, 189, 1);
    border: none;
    border-radius: 0;
    margin: 1px;
    font-size: 10px;
    text-shadow:
        -1px -1px 0 #343a40,
         1px -1px 0 #343a40,
        -1px  1px 0 #343a40,
         1px  1px 0 #343a40;
}

#workspaces button:hover {
    background-color: transparent;
    color: rgba(248, 249, 250, 1);
}

#workspaces button.active,
#workspaces button.focused {
    background-color: transparent;
    color: rgba(193, 18, 31, 1);
    border: none;
    box-shadow: none;
}

#workspaces button.urgent {
    background-color: transparent;
    color: rgba(248, 249, 250, 1);
    border: none;
}

#mode {
    background-color: rgba(33, 37, 41, 0.702);
    border: none;
    color: rgba(248, 249, 250, 1);
    border-radius: 5px;
    box-shadow: none;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#custom-system,
#mpd {
    padding: 0 12px;
    color: rgba(248, 249, 250, 1);
    background-color: rgba(33, 37, 41, 0.702);
    border: none;
    border-radius: 5px;
    margin: 3px 2px;
}

#window,
#workspaces {
    margin: 3px 2px;
}

#workspaces {
    padding: 0 1px;
    background-color: rgba(33, 37, 41, 0.702);
    border-radius: 5px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: rgba(33, 37, 41, 0.702);
}

#battery {
    background-color: rgba(33, 37, 41, 0.702);
}

#battery.charging,
#battery.plugged {
    background-color: rgba(102, 155, 188, 1);
    color: rgba(248, 249, 250, 1);
}

@keyframes blink {
    to {
        background-color: rgba(163, 177, 138, 1);
        color: rgba(33, 37, 41, 1);
    }
}

#battery.warning:not(.charging) {
    background-color: rgba(193, 18, 31, 1);
    color: rgba(248, 249, 250, 1);
}

#battery.critical:not(.charging) {
    background-color: rgba(163, 177, 138, 1);
    color: rgba(33, 37, 41, 1);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
    background-color: rgba(33, 37, 41, 0.702);
}

#power-profiles-daemon.performance {
    background-color: rgba(193, 18, 31, 1);
    color: rgba(248, 249, 250, 1);
}

#power-profiles-daemon.balanced {
    background-color: rgba(33, 37, 41, 0.702);
}

#power-profiles-daemon.power-saver {
    background-color: rgba(102, 155, 188, 1);
    color: rgba(248, 249, 250, 1);
}

#cpu,
#memory,
#disk,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#temperature,
#tray,
#idle_inhibitor,
#mpd,
#custom-system,
#privacy-item.audio-in,
#privacy-item.audio-out {
    background-color: rgba(33, 37, 41, 0.702);
}

#network.disconnected {
    background-color: rgba(193, 18, 31, 1);
    color: rgba(248, 249, 250, 1);
}

#pulseaudio.muted {
    background-color: rgba(102, 155, 188, 1);
    color: rgba(248, 249, 250, 1);
}

#wireplumber.muted {
    background-color: rgba(193, 18, 31, 1);
    color: rgba(248, 249, 250, 1);
}

#custom-media {
    min-width: 100px;
}

#temperature.critical {
    background-color: rgba(163, 177, 138, 1);
    color: rgba(33, 37, 41, 1);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: rgba(193, 18, 31, 1);
    color: rgba(248, 249, 250, 1);
}

#idle_inhibitor.activated {
    background-color: rgba(102, 155, 188, 1);
    color: rgba(248, 249, 250, 1);
}

#mpd.disconnected {
    background-color: rgba(193, 18, 31, 1);
    color: rgba(248, 249, 250, 1);
}

#mpd.stopped {
    background-color: rgba(102, 155, 188, 1);
    color: rgba(248, 249, 250, 1);
}

#mpd.paused {
    background-color: rgba(33, 37, 41, 0.702);
}

#scratchpad {
    background: rgba(33, 37, 41, 0.102);
}

#scratchpad.empty {
    background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: rgba(248, 249, 250, 1);
}

#privacy-item.screenshare {
    background-color: rgba(163, 177, 138, 1);
    color: rgba(33, 37, 41, 1);
}
