* {
    font-family: "Space Mono", FontAwesome, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: #D7BDEC;
    margin: 5px;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: none;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: inherit;
    box-shadow: none;
}

#workspaces button {
    padding: 0;
    min-width: 18px;
    min-height: 18px;
    background-color: rgba(9, 3, 7, 0.7);
    color: #724782;
    border: 2px solid rgba(9, 3, 7, 0.6);
    border-radius: 50%;
    margin: 5px 3px;
    font-size: 10px;
}

#workspaces button:hover {
    background-color: #D18DBD;
    color: #D7BDEC;
}

#workspaces button.active,
#workspaces button.focused {
    background-color: rgba(114, 71, 130, 0.7);
    color: #090307;
    border: 2px solid rgba(9, 3, 7, 0.6);
    box-shadow: none;
}

#workspaces button.urgent {
    background-color: #D18DBD;
    color: #D7BDEC;
    border: 2px solid #A44E88;
}

#mode {
    background-color: rgba(9, 3, 7, 0.7);
    border: none;
    color: #D7BDEC;
    border-radius: 5px;
    box-shadow: none;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#custom-system,
#mpd {
    padding: 0 12px;
    color: #D7BDEC;
    background-color: rgba(9, 3, 7, 0.7);
    border: none;
    border-radius: 5px;
    margin: 3px 2px;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: rgba(9, 3, 7, 0.7);
}

#battery {
    background-color: rgba(9, 3, 7, 0.7);
}

#battery.charging,
#battery.plugged {
    background-color: #8485D9;
    color: #D7BDEC;
}

@keyframes blink {
    to {
        background-color: #A44E88;
        color: #090307;
    }
}

#battery.warning:not(.charging) {
    background-color: #D18DBD;
    color: #D7BDEC;
}

#battery.critical:not(.charging) {
    background-color: #A44E88;
    color: #090307;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
    background-color: rgba(9, 3, 7, 0.7);
}

#power-profiles-daemon.performance {
    background-color: #D18DBD;
    color: #D7BDEC;
}

#power-profiles-daemon.balanced {
    background-color: rgba(9, 3, 7, 0.7);
}

#power-profiles-daemon.power-saver {
    background-color: #8485D9;
    color: #D7BDEC;
}

#cpu {
    background-color: rgba(9, 3, 7, 0.7);
}

#memory {
    background-color: rgba(9, 3, 7, 0.7);
}

#disk {
    background-color: rgba(9, 3, 7, 0.7);
}

#backlight {
    background-color: rgba(9, 3, 7, 0.7);
}

#network {
    background-color: rgba(9, 3, 7, 0.7);
}

#network.disconnected {
    background-color: #D18DBD;
    color: #D7BDEC;
}

#pulseaudio {
    background-color: rgba(9, 3, 7, 0.7);
}

#pulseaudio.muted {
    background-color: #8485D9;
    color: #D7BDEC;
}

#wireplumber {
    background-color: rgba(9, 3, 7, 0.7);
}

#wireplumber.muted {
    background-color: #D18DBD;
    color: #D7BDEC;
}

#custom-media {
    background-color: rgba(9, 3, 7, 0.7);
    min-width: 100px;
}

#temperature {
    background-color: rgba(9, 3, 7, 0.7);
}

#temperature.critical {
    background-color: #A44E88;
    color: #090307;
}

#tray {
    background-color: rgba(9, 3, 7, 0.7);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #D18DBD;
    color: #D7BDEC;
}

#idle_inhibitor {
    background-color: rgba(9, 3, 7, 0.7);
}

#idle_inhibitor.activated {
    background-color: #8485D9;
    color: #D7BDEC;
}

#mpd {
    background-color: rgba(9, 3, 7, 0.7);
}

#mpd.disconnected {
    background-color: #D18DBD;
    color: #D7BDEC;
}

#mpd.stopped {
    background-color: #8485D9;
    color: #D7BDEC;
}

#mpd.paused {
    background-color: rgba(9, 3, 7, 0.7);
}

#custom-system {
    background-color: rgba(9, 3, 7, 0.7);
}

#scratchpad {
    background: rgba(9, 3, 7, 0.1);
}

#scratchpad.empty {
    background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: #D7BDEC;
}

#privacy-item.screenshare {
    background-color: #A44E88;
    color: #090307;
}

#privacy-item.audio-in {
    background-color: rgba(9, 3, 7, 0.7);
}

#privacy-item.audio-out {
    background-color: rgba(9, 3, 7, 0.7);
}
