window {
    font-family: "Space Mono", sans-serif;
    font-size: 13px;
    background-color: transparent;
    color: #D7BDEC;
    border-radius: 5px;
    border: none;
}

#input {
    background-color: rgba(9, 3, 7, 0.9);
    color: #D7BDEC;
    border: 2px solid #8485D9;
    border-radius: 2px;
    padding: 3px 3px;
    margin: 10px;
}

#input:focus {
    border-color: #A44E88;
}

#inner-box {
    margin: 5px 10px;
}

#outer-box {
    margin: 5px;
}

#scroll {
    margin: 5px;
}

#text {
    color: #D7BDEC;
    margin: 0;
    text-align: right;
}

#entry {
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 2px;
    border: 2px solid transparent;
    background-color: rgba(114, 71, 130, 0.6);
    text-align: right;
}

#entry:selected {
    background-color: rgba(215, 189, 236, 0.9);
    color: #090307;
    border: 2px solid #D18DBD;
    outline: none;
}

#entry:selected #text {
    color: #090307;
}

#entry:hover {
    background-color: rgba(164, 78, 136, 0.15);
    color: #D7BDEC;
    border: 2px solid #A44E88;
}

#entry:hover #text {
    color: #D7BDEC;
}

#img {
    display: none;
}
