window {
    font-family: "Space Mono", sans-serif;
    font-size: 13px;
    background-color: transparent;
    color: #f8f9fa;
    border-radius: 5px;
    border: none;
}

#input {
    background-color: rgba(33, 37, 41, 0.9);
    color: #f8f9fa;
    border: 2px solid #669bbc;
    border-radius: 2px;
    padding: 3px 3px;
    margin: 10px;
}

#input:focus {
    border-color: #c1121f;
}

#inner-box {
    margin: 5px 10px;
}

#outer-box {
    margin: 5px;
}

#scroll {
    margin: 5px;
}

#text {
    color: #f8f9fa;
    margin: 0;
    text-align: right;
}

#entry {
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 2px;
    border: 2px solid transparent;
    background-color: rgba(52, 58, 64, 0.6);
    text-align: right;
}

#entry:selected {
    background-color: rgba(233, 236, 239, 0.9);
    color: #212529;
    border: 2px solid #669bbc;
    outline: none;
}

#entry:selected #text {
    color: #212529;
}

#entry:hover {
    background-color: rgba(193, 18, 31, 0.15);
    color: #f8f9fa;
    border: 2px solid #c1121f;
}

#entry:hover #text {
    color: #f8f9fa;
}

#img {
    display: none;
}
